<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>net.masutaka.scheduled-timemachine</string>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>date; sudo tmutil disable && pmset -g ps | grep -q 'AC Power' && tmutil startbackup -b; echo</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/masutaka/.Trash/scheduled-timemachine.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/masutaka/.Trash/scheduled-timemachine-err.log</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>3</integer>
      <key>Minute</key>
      <integer>00</integer>
    </dict>
  </dict>
</plist>
